<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Arun Hospital</title>

    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/loginpage.css}">
</head>

<body>
    <div class="outerContainer">
        <div class="background-image"></div>
            <div class="content">
                        <!-- Intro Section -->
                <div class="intro text-center">
                    <h2 style="color:red">Patient Medicine and Appointment Management System</h2>
                </div>

                        <!-- User Registration/Login Form -->
                <div class="userRegistration">
                    <h3 class="mb-4 text-center">User Login</h3>

                    <form th:object="${userData}" th:action="@{/hospital/login}" method="post">
                        <!-- Radio Buttons for User Type -->
                        <div class="mb-2">
                            <label class="form-label form-check-inline fs-6">I am a</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{userType}" id="patientRadio" th:value="patient" >
                                <label class="form-check-label" for="patientRadio">Patient</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{userType}" id="doctorRadio" th:value="doctor">
                                <label class="form-check-label" for="doctorRadio">Doctor</label>
                            </div>
                            <div th:if="${#fields.hasErrors('userType')}">
                                <p class="text-danger" th:errors="*{userType}"> </p>
                            </div>
                        </div>


                        <!-- Username Field -->
                        <div class="mb-2 text-start" >
                            <label for="email" class="form-label  ">Email ID</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter your username" >
                            <div th:if="${#fields.hasErrors('email')}">
                                <p class="text-danger text-start" th:errors="*{email}"> </p>
                            </div>
                        </div>

                        <!-- Password Field -->
                        <div class="mb-2 text-start">
                            <label for="password" class="form-label ">Password</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter your password" >
                            <div th:if="${#fields.hasErrors('password')}">
                                 <p class="text-danger" th:errors="*{password}"> </p>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                        <div th:if="${error}">
                            <p class="text-danger" th:text="${error}"> </p>
                        </div>
                    </form>

                <!-- Links for New Users -->
                <div class="mt-3">
                    <p class="mb-1">New to Arun Hospital? Sign Up here</p>
                    <a th:href="@{/hospital/addPatient}" class="btn btn-link">For new Patient</a>
                    <a th:href="@{/hospital/addDoctor}" class="btn btn-link">For new Doctor</a>
                </div>
            </div>

        </div>
    <!-- Footer Section -->
    <div class="footer" th:replace="~{common/footer :: footer}"></div>

</div>

</body>

</html>
