<!DOCTYPE html>
<html lang="en"
    xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medicine Form</title>
    <meta name="viewport" content="width:device-width,initial-scale=1" >
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>
<body  class = container >
<h3 class="text-center mt-3 mb-3 " th:text=" ${mode == 'add' ? 'Add' : mode == 'update' ? 'Update' : 'View' } + ' Medicine details' "> Medicine Form</h3>
<form th:object="${medicine}" method="post" th:action="@{${formAction}}">
    <input th:if="${mode == 'update'}" type="hidden" name="_method" value="put"/>

    <label>Id </label>
    <input type="text" th:field="*{id}" aria-label="Id">
    <br>
    <div th:if="${#fields.hasErrors('id')}">
        <p class="text-danger" th:errors="*{id}"> </p>
    </div><br>
    <label>Medicine name</label>
    <input type="text" th:field="*{name}" aria-label="Id">
    <br>
    <div th:if="${#fields.hasErrors('name')}">
        <p class="text-danger" th:errors="*{name}"> </p>
    </div><br>
    <label>Dosage </label>
    <input type="text" th:field="*{dosage}" aria-label="Id">
    <br>
    <div th:if="${#fields.hasErrors('dosage')}">
        <p class="text-danger" th:errors="*{dosage}"> </p>
    </div><br>
    <label>Duration</label>
    <input type="text" th:field="*{duration}" aria-label="Id">
    <br>
    <div th:if="${#fields.hasErrors('duration')}">
        <p class="text-danger" th:errors="*{duration}"> </p>
    </div><br>
    <input th:unless="${mode == 'view'}" class="ml-1 btn btn-secondary" type="submit"
           th:value=" ${mode == 'add' ? 'Add' : 'Update'} + ' medicine' ">



</form>
<div th:if="${error}" >
    <p class="ml-4" th:text="${error}" style="color: red;"></p>
</div>
</body>
</html>