<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width,initial-scale=1" >
    <title>Doctor Form</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>
<body class = container>
<div>
    <h3>Saved Doctor details</h3>
    <form th:object="${savedDoctor}" method="get">
        <label>Id </label>
        <input type="text" th:field="*{id}" aria-label="Id">
        <br><br>
        <label>First Name </label>
        <input type="text" th:field="*{firstName}">
        <br><br>
        <label>Last Name</label>
        <input type="text" th:field="*{lastName}">
        <br><br>
        <label>Gender</label>
        <input type="text" th:field="*{gender}">
        <br><br>
        <label>Email</label>
        <input type="text" th:field="*{email}">
        <br><br>
        <label>Specialization</label>
        <input type="text" th:field="*{specialization}">
        <br><br>
        <label> Qualification</label>
        <input type="text" th:field="*{qualification}">
        <br><br>
        <label>Experience</label>
        <input type="text" th:field="*{Experience}">
        <br><br>
        <label>Phone Number</label>
        <input type="text" th:field="*{phoneNumber}">
        <br><br>
<!--        <input class="ml-1 btn btn-secondary" type="submit" value="Add Doctor">-->

    </form>
</div>
</body>
</html>