.booked{
        background-color: gray;    /* Booked slot background */
        color: white;              /* Text color for booked slots */
        cursor: pointer;
        }

.available{
        background-color: white;  /* Default background for available slots */
        color: black;                  /* Default text color */
        pointer-events: none; /* Disable click */
        }

.booked:hover {
        background-color: #cbf2cd;  /* Hover background */
        color: black;               /* Hover text color */
        }
.buttonContainer{
        margin-left:20px;}

.buttons{
        display : inline-block;
        }
.buttons button {
            border-radius: 7px;
            padding: 5px;
            font-size: 16px;
        }
#datePicker{
        border : 2px solid black;
        margin:5px 20px;
        }
