<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="medicines">
    <table class="table  table-sm table-hover ">
        <thead>
        <tr class="table-secondary">
            <td>Medicines Id</td>
            <td>Medicine Name</td>
            <td>Dosage</td>
            <td>Duration</td>
            <td>Prescribed by Doctor</td>
            <td>Doctor Specialization</td>

        </tr>
        </thead>
        <tbody>
        <tr th:each="medicine,statVariable:${patient.medicines}" >
            <td th:text="${statVariable.index + 1 }" >Id</td>
            <td th:text="${medicine.name}" >Medicine Name</td>
            <td th:text="${medicine.dosage}" >Dosage</td>
            <td th:text="${medicine.duration}" >Duration</td>
            <td th:text="${medicine.doctor.firstName + ' ' + medicine.doctor.firstName}" >Prescribed by Doctor</td>
            <td th:text="${medicine.doctor.Specialization}" >Doctor Specialization</td>

        </tr>
        </tbody>
    </table>
</div>