<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="password">

    <form th:action="@{/hospital/addPatient/setPassword(savedPatientId=${savedPatientId})}"
          th:object="${credentials}" method="post">

        <input class="form-control" type="hidden" name="savedPatientId" th:value="${savedPatientId}" aria-label="id" />
        <!-- Medicine Form Fields -->
        <div  class="row mb-3 ">
            <div class="col-md-3 ">
                <label class="form-label " >Password</label>
                <input class="form-control" type="password" th:field="*{password}" aria-label="id" />
                <div   th:if="${#fields.hasErrors('password')}" >
                    <p class="text-danger" th:errors="*{password}"></p>
                </div>
            </div>
        </div>
        <div  class="row mb-3 ">
            <div class="col-md-3 ">
                <label class="form-label " >Confirm password</label>
                <input class="form-control" type="password" th:field="*{confirmPassword}" aria-label="id"/>
                <div   th:if="${#fields.hasErrors('confirmPassword')}" >
                    <p class="text-danger" th:errors="*{confirmPassword}"></p>
                </div>
            </div>
        </div>

        <p  class="mt-2 text-danger" th:if="${error}" th:text="${error}"> </p>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
