<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Portal</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/portalTemplate.css}">
    <link rel="stylesheet" th:href="@{/css/bookedAppointment.css}">
</head>
<body>

<div class="wrapper">
    <!-- Sidebar and Content Wrapper -->
    <div class="content-wrapper">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-secondary text-white sidebar sidebar-sticky">
            <div class="position-sticky pt-3">
                <h3 class="text-white ">Doctor Portal</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/appointment/scheduled/{id}(id=${doctor.id})}">
                            View All Appointments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/hospital/doctorPortal/updateProfile/{id}(id=${doctor.id})}">
                            Update Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/hospital/doctorPortal/deleteDoctor/{id}(id=${doctor.id})}">
                            Delete Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/hospital}">
                            Log out
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h2>Welcome to the Doctor Portal !!</h2> <br>
                <p>To get started, click on any of the links on the sidebar. By Default It shows basic doctor details</p>

                <div class="innerContainer" th:if="${showBookedAppointments}" >
                    <h4 class="text-start">Booked Appointments </h4>
                    <div  th:insert="~{fragments/doctor/showBookedAppointments :: content}"></div>
                </div>

                <div class="innerContainer " th:if="${showPatientByAppointmentTime}" >
                    <h4 class="text-start" >Consultation Room</h4>
                    <div >
                            <div   th:insert="~{fragments/doctor/showPatientDetails :: content}"></div>

                            <div  th:insert="~{fragments/doctor/showObservationPage :: content}"></div>

                            <div  th:insert="~{fragments/doctor/medicineDetailsNew :: content}"></div>

                            <div class="d-flex justify-content-center">
                            <a class="btn btn-success mt-3" th:href="@{/appointment/scheduled/{doctorId}( doctorId=${doctorId} ) }">Save & Go to next Patient</a>
                            </div>

                    </div>
                </div>

                <div class="innerContainer" th:if="${showDoctorForm}" >
                    <h4 class="text-start">Doctor Details</h4>
                    <div  th:insert="~{fragments/doctor/showDoctorForm :: content}"></div>
                    <p class="text-danger" th:if="${error}" th:text="${error}"> Doctor id does not exist in database</p>
                </div>

                <div class="innerContainer" th:if="${deleteDoctor}" >
                    <h4 class="text-start">Delete Doctor</h4>
                    <div  th:insert="~{fragments/doctor/deleteDoctorPage :: content}"></div>
                    <p class="text-danger" th:if="${error}" th:text="${error}"> Doctor id does not exist in database</p>
                </div>

            </div>
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-secondary text-white">
        <div th:replace="~{common/footer :: footer}"></div>
    </footer>
</div>

<script th:src="@{/js/doctorPortal.js}"></script>
<script th:src="@{/js/doctorMedicine.js}" ></script>

</body>

</html>
