<!DOCTYPE html>
<html lang="en"
    xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width,initial-scale=1" >
    <title>Doctor Form</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const form = document.getElementById('doctorForm');
            const mode = [[${mode}]];

            if (mode === 'add') {
                form.action = '/doctor/add';
            } else if (mode === 'update') {
                const doctorId = /*[[${doctor.id}]]*/ 0;
                form.action = '/doctor/update/' + doctorId;
            } else if (mode === 'view') {
                form.method = 'get';
                const doctorId = /*[[${doctor.id}]]*/ 0;
                form.action = '/doctor/get/' + doctorId;
            }

<!--            form.addEventListener('submit', function(event) {-->
<!--        event.preventDefault();-->

<!--        // If mode is add or update, handle file upload-->
<!--        if (mode === 'add' || mode === 'update') {-->
<!--            let formData = new FormData(form);-->
<!--            let imageFile = document.getElementById('imageFile').files[0];-->

<!--            if (imageFile) {-->
<!--                formData.append('imageFile', imageFile);  // Attach the file-->
<!--            }-->

<!--            fetch(form.action, {-->
<!--                method: 'POST',-->
<!--                body: formData-->
<!--            }).then(response => {-->
<!--                if (response.ok) {-->
<!--                    console.log('Success');-->
<!--                    window.location.href = '/doctor/list';  // Redirect on success-->
<!--                } else {-->
<!--                    console.error('Failed to add/update doctor');-->
<!--                }-->
<!--            }).catch(error => {-->
<!--                console.error('Error:', error);-->
<!--            });-->
<!--        } else {-->
<!--            form.submit(); // Handle normal form submission for 'view'-->
<!--        }-->
<!--    });-->
<!--     });-->

    </script>
</head>
<body class = container>

<div >
    <h3 class="text-center mt-3 mb-3 " th:text=" ${mode == 'add' ? 'Add' : mode == 'update' ? 'Update' : 'View' } + ' Doctor details' "> Add Doctor Form</h3>

    <form th:object="${doctor}" method="post" id="doctorForm" enctype="multipart/form-data">
        <input th:if="${mode == 'update'}" type="hidden" name="_method" value="put"/>

        <label>Id </label>
        <input type="text" th:field="*{id}" aria-label="Id">
        <br>
        <div th:if="${#fields.hasErrors('id')}">
            <p class="text-danger" th:errors="*{id}"> </p>
        </div><br>
        <label>First Name </label>
        <input type="text" th:field="*{firstName}" aria-label="firstName">
        <br>
        <div th:if="${#fields.hasErrors('firstName')}">
            <p class="text-danger" th:errors="*{firstName}"> </p>
        </div><br>
        <label>Last Name
        <input type="text" th:field="*{lastName}" >
        </label>
        <br>
        <div th:if="${#fields.hasErrors('lastName')}">
            <p class="text-danger" th:errors="*{lastName}"> </p>
        </div><br>
        <label>Gender</label>
        <input type="text" th:field="*{gender}" aria-label="gender">
        <br>
        <div th:if="${#fields.hasErrors('gender')}">
            <p class="text-danger" th:errors="*{gender}"> </p>
        </div><br>
        <label>Email</label>
        <input type="text" th:field="*{email}" aria-label="email">
        <br>
        <div th:if="${#fields.hasErrors('email')}">
            <p class="text-danger" th:errors="*{email}"> </p>
        </div><br>
        <label>Specialization</label>
        <input type="text" th:field="*{specialization}" aria-label="specialization">
        <br>
        <div th:if="${#fields.hasErrors('specialization')}">
            <p class="text-danger" th:errors="*{specialization}"> </p>
        </div><br>
        <label> Qualification</label>
        <input type="text" th:field="*{qualification}" aria-label="qualification">
        <br>
        <div th:if="${#fields.hasErrors('qualification')}">
            <p class="text-danger" th:errors="*{qualification}"> </p>
        </div><br>

        <label>Experience</label>
        <input type="text" th:field="*{experience}" aria-label="experience">
        <br>
        <div th:if="${#fields.hasErrors('experience')}">
            <p class="text-danger" th:errors="*{experience}"> </p>
        </div><br>

        <label>Phone Number</label>
        <input type="text" th:field="*{phoneNumber}" aria-label="phoneNumber">
        <br>
        <div th:if="${#fields.hasErrors('phoneNumber')}">
            <p class="text-danger" th:errors="*{phoneNumber}"></p>
        </div>

        <!-- File input for image -->
        <label for="imageFile">Doctor Image:</label>
        <div th:if="${mode != view}">
            <img th:src="'data:image/jpeg;base64,' + ${doctorBase64Image}" alt="Doctor Image" width="100">
        </div>
        <input type="file" id="imageFile" name="imageFile" accept="image/*" required><br>

        <br>

        <input th:unless="${mode == 'view'}" class="ml-1 btn btn-secondary" type="submit" th:value=" ${mode == 'add' ? 'Add' : 'Update'} + ' doctor' ">

    </form>
    <div th:if="${error}" >
        <p class="ml-4" th:text="${error}" style="color: red;"></p>
    </div>
</div>
</body>
</html>